@model VOD.Models.Movie

@{
	//ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="main-name">@ViewBag.Movies.Name</h2>

<p>Description: @ViewBag.Movies.Description</p>

<ul>

	<li><b>Genre:</b> @ViewBag.Movies.Genre.Name</li>
	<li><b>Director:</b> @ViewBag.Movies.Dir.Name</li>
	<li><b>Release Date:</b> @ViewBag.Movies.ReleaseDate.ToShortDateString()</li>
	<li><b>Added:</b> @ViewBag.Movies.DateAdded.ToShortDateString()</li>
	<li><b>Actors:</b></li>
		@foreach (var item in ViewBag.ActorsInMovies)
		{

		<p> @item.ActorName</p>

	}
	

	</ul>


